In [1]:
import ccxt
import json
from pprint import pprint
import requests
from ddlgenerator.ddlgenerator import Table
from sqlalchemy.sql import text
from sqlalchemy import create_engine
import pandas as pd
import pandas.io.sql as psql

In [2]:
url = 'https://bittrex.com/api/v1.1/public/getmarketsummaries'
r = requests.get(url)
#print(json.loads(r.content))
data = json.loads(r.content.decode())

In [3]:
table = Table(data['result'])
sql = table.sql('postgresql', inserts=True)

In [4]:
sql

"DROP TABLE IF EXISTS generated_table0;\n\nCREATE TABLE generated_table0 (\n\tmarketname VARCHAR(9) NOT NULL, \n\thigh DECIMAL(12, 8) NOT NULL, \n\tlow DECIMAL(12, 8) NOT NULL, \n\tvolume DECIMAL(17, 8) NOT NULL, \n\t_last DECIMAL(12, 8) NOT NULL, \n\tbasevolume DECIMAL(15, 8) NOT NULL, \n\t_timestamp TIMESTAMP WITHOUT TIME ZONE NOT NULL, \n\tbid DECIMAL(12, 8) NOT NULL, \n\task DECIMAL(12, 8) NOT NULL, \n\topenbuyorders INTEGER NOT NULL, \n\topensellorders INTEGER NOT NULL, \n\tprevday DECIMAL(12, 8) NOT NULL, \n\tcreated TIMESTAMP WITHOUT TIME ZONE NOT NULL\n);\n\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-2GIVE', 0.00000109, 0.00000107, 473669.62967021, 0.00000107, 0.51272628, '2018-05-28 00:39:19.490000', 0.00000107, 0.00000108, 152, 835, 0.00000107, '2016-05-16 06:44:15.287000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ABY', 8.8E-7, 8.2E-7, 1384636.75214828, 8.2E-7, 1.17485581, '2018-05-28 00:41:10.720000', 8.2E-7, 8.5E-7, 109, 1965, 8.5E-7, '2014-10-31 01:43:25.743000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ADA', 0.00002662, 0.0000259, 15377430.37664131, 0.00002611, 403.82588514, '2018-05-28 00:41:07.267000', 0.00002611, 0.00002612, 2368, 17946, 0.00002662, '2017-09-29 07:01:58.873000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ADT', 0.00000435, 0.0000042, 633596.89616339, 0.00000427, 2.69091818, '2018-05-28 00:40:09.100000', 0.00000421, 0.00000427, 126, 2338, 0.0000042, '2017-07-03 21:08:06.110000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ADX', 0.00008568, 0.00008247, 88804.44846424, 0.0000835, 7.45218238, '2018-05-28 00:41:13.797000', 0.00008326, 0.0000835, 167, 4033, 0.00008569, '2017-07-11 22:42:17.780000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-AEON', 0.00022646, 0.000212, 11562.31254457, 0.00021596, 2.533291, '2018-05-28 00:40:36.180000', 0.00021202, 0.00021587, 183, 1552, 0.00022298, '2015-07-31 00:50:47.110000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-AID', 0.00002959, 0.0000249, 4993374.23875699, 0.00002589, 138.4262542, '2018-05-28 00:41:11.110000', 0.00002589, 0.00002623, 207, 579, 0.0000249, '2018-05-17 16:48:37.687000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-AMP', 0.00002595, 0.00002305, 409367.19245036, 0.0000248, 10.02901954, '2018-05-28 00:41:08.733000', 0.0000248, 0.00002499, 182, 3853, 0.00002457, '2015-11-03 19:13:55.180000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ANT', 0.000424, 0.00037667, 34048.09548011, 0.00038441, 13.63267103, '2018-05-28 00:41:13.827000', 0.00038446, 0.00039086, 185, 1614, 0.00042097, '2017-05-17 19:54:30.143000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ARDR', 0.00003985, 0.00003608, 3285463.88398182, 0.00003673, 124.81667357, '2018-05-28 00:41:12.780000', 0.00003646, 0.00003671, 728, 3677, 0.00003675, '2016-10-13 18:59:37.407000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ARK', 0.00032862, 0.00031606, 55992.38295986, 0.00031652, 18.00859535, '2018-05-28 00:41:10.920000', 0.00031606, 0.00031652, 2190, 4310, 0.0003252, '2017-03-21 18:11:29.347000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-AUR', 0.00008495, 0.00008103, 6415.96039657, 0.00008203, 0.53007401, '2018-05-28 00:41:11.203000', 0.00008107, 0.00008203, 74, 989, 0.00008466, '2014-03-16 22:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BAT', 0.00003983, 0.0000381, 208342.52090808, 0.00003881, 8.1010029, '2018-05-28 00:41:13.813000', 0.00003876, 0.00003882, 387, 2633, 0.0000389, '2017-06-03 22:04:53.820000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BAY', 0.00000595, 0.00000565, 1069550.14648903, 0.00000579, 6.17800791, '2018-05-28 00:40:12.320000', 0.00000572, 0.00000579, 198, 3423, 0.00000576, '2014-11-18 17:34:21.083000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BCC', 0.1377, 0.13395202, 687.14924618, 0.13500003, 92.96018585, '2018-05-28 00:41:13.970000', 0.13502008, 0.13584694, 909, 4816, 0.13659003, '2017-08-01 18:34:04.967000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BCPT', 0.0000431, 0.00004171, 82879.1742848, 0.00004209, 3.5236246, '2018-05-28 00:41:11.547000', 0.00004171, 0.00004212, 38, 1423, 0.00004243, '2018-02-22 18:39:23.157000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BCY', 0.00003691, 0.00003389, 44157.27469303, 0.00003541, 1.53763787, '2018-05-28 00:41:13.407000', 0.00003437, 0.00003587, 43, 1236, 0.00003691, '2015-09-10 05:28:20.787000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BITB', 0.000001, 9.6E-7, 10546873.3438028, 9.7E-7, 10.30775826, '2018-05-28 00:39:54.867000', 9.8E-7, 9.9E-7, 213, 2465, 9.8E-7, '2015-02-15 23:07:32.777000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BLITZ', 0.00002597, 0.00001305, 781643.23334401, 0.000021, 15.51070766, '2018-05-28 00:33:56.270000', 0.00001994, 0.00002159, 91, 578, 0.00002095, '2014-11-13 20:20:21.443000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BLK', 0.0000299, 0.00002851, 59678.17660107, 0.00002861, 1.74978845, '2018-05-28 00:41:13.797000', 0.00002861, 0.00002905, 118, 1957, 0.00002942, '2014-03-14 09:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BLOCK', 0.00275548, 0.00248065, 8064.096858, 0.00270874, 21.31493371, '2018-05-28 00:41:12.233000', 0.00265072, 0.00270874, 1066, 770, 0.002562, '2014-10-29 06:45:03.970000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BLT', 0.00007109, 0.00006332, 744455.40489358, 0.00006348, 50.45983376, '2018-05-28 00:41:13.937000', 0.00006348, 0.00006444, 136, 861, 0.00006921, '2018-05-10 16:56:16.430000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BNT', 0.000526, 0.00050176, 10347.44614619, 0.00051647, 5.30348268, '2018-05-28 00:41:12.577000', 0.00051095, 0.00051648, 104, 857, 0.00052723, '2017-06-22 21:36:30.850000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BRK', 0.0000211, 0.0000203, 34301.90550823, 0.00002081, 0.70566098, '2018-05-28 00:40:37.150000', 0.00002081, 0.00002108, 82, 1074, 0.00002073, '2016-06-13 02:27:33.340000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BRX', 0.00010269, 0.00010097, 2067.18635091, 0.00010102, 0.2093363, '2018-05-28 00:35:35.510000', 0.00010097, 0.00010102, 45, 633, 0.00010269, '2016-07-10 21:25:05.127000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BSD', 0.000074, 0.0000709, 37432.35013989, 0.00007109, 2.70924115, '2018-05-28 00:40:31.977000', 0.00007109, 0.00007228, 90, 1704, 0.00007097, '2016-02-17 00:54:23.677000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BTG', 0.00606607, 0.00591003, 3019.83838739, 0.00597156, 18.06433211, '2018-05-28 00:41:13.970000', 0.00597001, 0.006, 248, 4345, 0.00606733, '2017-11-20 21:49:15.983000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BURST', 0.00000321, 0.00000311, 4411718.11824776, 0.00000315, 13.94515014, '2018-05-28 00:41:00.860000', 0.00000315, 0.00000317, 376, 3516, 0.00000319, '2014-09-16 07:41:56.047000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-BYC', 0.0000768, 0.00007501, 2431.63243093, 0.00007501, 0.18501504, '2018-05-28 00:41:13.517000', 0.000075, 0.00007501, 109, 797, 0.00007681, '2014-11-03 19:02:45.960000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CANN', 0.00000516, 0.00000502, 85515.99441423, 0.00000502, 0.43373724, '2018-05-28 00:41:13.860000', 0.00000502, 0.00000509, 148, 3002, 0.00000515, '2014-08-10 06:48:44.830000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CFI', 0.00000904, 0.00000822, 1419710.93237445, 0.00000836, 12.12045076, '2018-05-28 00:40:24.913000', 0.00000826, 0.00000835, 342, 3153, 0.00000885, '2017-06-19 19:59:14.780000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CLAM', 0.00045012, 0.00044173, 2617.01913451, 0.00045012, 1.17625171, '2018-05-28 00:41:10.953000', 0.00044772, 0.00045012, 64, 961, 0.00045011, '2015-04-18 22:04:25.183000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CLOAK', 0.00113032, 0.00105199, 6008.34176037, 0.00108994, 6.52045716, '2018-05-28 00:41:12.767000', 0.00107563, 0.00108987, 188, 1203, 0.00113137, '2014-06-04 08:53:18.563000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-COVAL', 7.9E-7, 7.2E-7, 6782482.03901516, 7.5E-7, 5.08696118, '2018-05-28 00:39:58.100000', 7.4E-7, 7.6E-7, 132, 2064, 7.8E-7, '2015-01-22 19:11:45.903000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CRB', 0.00002111, 0.0000202, 43678.92395668, 0.00002031, 0.89197718, '2018-05-28 00:40:31.460000', 0.00002031, 0.0000206, 59, 1560, 0.00002058, '2017-06-13 19:40:35.203000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CRW', 0.00012399, 0.00012017, 17989.30815, 0.000121, 2.18479767, '2018-05-28 00:40:59.953000', 0.000121, 0.00012259, 112, 1173, 0.00012398, '2017-03-06 21:10:15.663000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CURE', 0.00003649, 0.00003551, 6248.91880035, 0.00003551, 0.22237433, '2018-05-28 00:41:04.657000', 0.00003551, 0.00003576, 100, 1115, 0.00003571, '2014-05-13 09:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-CVC', 0.0000453, 0.0000426, 1287580.95075735, 0.0000448, 56.36062822, '2018-05-28 00:41:13.703000', 0.0000447, 0.00004474, 1157, 3545, 0.00004285, '2017-07-16 23:04:18.867000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DASH', 0.04408664, 0.04250072, 2947.13009533, 0.04291486, 127.03724272, '2018-05-28 00:41:09.657000', 0.04269433, 0.04291486, 676, 3527, 0.04402549, '2014-03-11 08:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DCR', 0.01328, 0.01174251, 17305.64358629, 0.01235002, 214.5626119, '2018-05-28 00:41:13.453000', 0.01236573, 0.01243, 627, 1512, 0.01255864, '2016-02-09 21:06:51.577000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DCT', 0.00007158, 0.00006938, 206396.86188047, 0.00007056, 14.51616377, '2018-05-28 00:40:19.100000', 0.00007056, 0.00007148, 221, 2390, 0.00007073, '2017-06-30 16:35:24.643000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DGB', 0.00000463, 0.00000441, 18684937.91435905, 0.00000449, 84.74674046, '2018-05-28 00:41:04.593000', 0.00000448, 0.00000449, 1046, 9888, 0.00000458, '2014-08-20 07:09:57.207000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DMD', 0.00073223, 0.000695, 3710.97980488, 0.00072084, 2.64002888, '2018-05-28 00:41:00.530000', 0.0007072, 0.0007102, 152, 1471, 0.00071001, '2015-05-01 17:31:24.970000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DMT', 0.0000433, 0.000042, 175229.39408552, 0.00004209, 7.55013464, '2018-05-28 00:41:13.407000', 0.0000421, 0.00004322, 106, 1010, 0.00004271, '2018-03-27 17:20:49.180000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DNT', 0.00001005, 0.0000085, 5153894.60832177, 0.00000906, 48.14210414, '2018-05-28 00:41:11.157000', 0.00000903, 0.00000913, 184, 2335, 0.00000874, '2017-08-04 02:09:02.873000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DOGE', 4.7E-7, 4.5E-7, 102567048.2841976, 4.6E-7, 47.35980362, '2018-05-28 00:41:12.250000', 4.5E-7, 4.6E-7, 1278, 11653, 4.7E-7, '2014-02-13 00:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DOPE', 0.0000044, 0.00000423, 99412.10845629, 0.0000043, 0.42877321, '2018-05-28 00:40:14.383000', 0.00000422, 0.0000043, 125, 2147, 0.0000044, '2014-10-17 19:09:32.600000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DTB', 0.00007185, 0.00007, 13937.61181419, 0.00007, 0.97931652, '2018-05-28 00:38:47.707000', 0.00007001, 0.000071, 61, 1630, 0.00007176, '2017-04-01 04:06:13.887000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-DYN', 0.000204, 0.00019778, 26912.85448484, 0.00020349, 5.38806768, '2018-05-28 00:40:34.897000', 0.00020023, 0.00020349, 89, 1561, 0.000204, '2017-03-23 00:10:19.403000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-EBST', 0.00002196, 0.00002038, 198099.49814676, 0.00002081, 4.1634311, '2018-05-28 00:40:23.880000', 0.00002081, 0.00002106, 252, 4747, 0.0000214, '2016-09-15 15:47:38.920000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-EDG', 0.00007112, 0.000068, 146565.158794, 0.0000706, 10.21775269, '2018-05-28 00:41:13.703000', 0.0000697, 0.0000706, 318, 3850, 0.00006953, '2017-04-18 00:56:59.243000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-EFL', 0.00001765, 0.000017, 6483.76398605, 0.00001739, 0.1118548, '2018-05-28 00:40:39.390000', 0.0000171, 0.00001741, 89, 943, 0.00001726, '2014-03-20 20:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-EGC', 0.00002279, 0.00002251, 5626.9368626, 0.00002278, 0.12765088, '2018-05-28 00:38:32.123000', 0.00002278, 0.00002306, 64, 1255, 0.00002276, '2016-01-18 21:01:43.837000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-EMC', 0.00033999, 0.0003301, 9667.31619878, 0.00033856, 3.22549366, '2018-05-28 00:41:13.703000', 0.00033334, 0.00033921, 118, 1171, 0.0003305, '2016-01-06 05:28:04.553000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-EMC2', 0.0000264, 0.00002494, 297241.2229836, 0.00002596, 7.67736568, '2018-05-28 00:41:09.187000', 0.00002591, 0.00002638, 377, 5114, 0.0000254, '2014-12-24 00:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ENG', 0.00027336, 0.000252, 48015.56263312, 0.000252, 12.38983326, '2018-05-28 00:41:13.843000', 0.00025504, 0.00025702, 156, 1237, 0.00027384, '2017-11-29 23:57:48.243000');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _timestamp, bid, ask, openbuyorders, opensellorders, prevday, created) VALUES ('BTC-ENRG', 0.00000941, 0.00000902, 163661.37521609, 0.00000938, 1.51030793, '2018-05-28 00:33:56.143000', 0.00000927, 0.00000941, 122, 1534, 0.0000094, '2014-05-04 00:00:00');\nINSERT INTO generated_table0 (marketname, high, low, volume, _last, basevolume, _t

In [5]:
sql = sql.split('\n\n')

In [6]:
sql[2] = sql[2].split('\n')

In [7]:
mydb_lst = sql[0].split(' ')
mydb = mydb_lst[4]
mydb = mydb[:-1]

In [8]:
# create the session
engine = create_engine('sqlite:///:memory:')

In [9]:
res = engine.execute(sql[0])

In [10]:
res = engine.execute(sql[1])

In [11]:
sql[1]

'CREATE TABLE generated_table0 (\n\tmarketname VARCHAR(9) NOT NULL, \n\thigh DECIMAL(12, 8) NOT NULL, \n\tlow DECIMAL(12, 8) NOT NULL, \n\tvolume DECIMAL(17, 8) NOT NULL, \n\t_last DECIMAL(12, 8) NOT NULL, \n\tbasevolume DECIMAL(15, 8) NOT NULL, \n\t_timestamp TIMESTAMP WITHOUT TIME ZONE NOT NULL, \n\tbid DECIMAL(12, 8) NOT NULL, \n\task DECIMAL(12, 8) NOT NULL, \n\topenbuyorders INTEGER NOT NULL, \n\topensellorders INTEGER NOT NULL, \n\tprevday DECIMAL(12, 8) NOT NULL, \n\tcreated TIMESTAMP WITHOUT TIME ZONE NOT NULL\n);'

In [12]:
for x in sql[2]:
    res = engine.execute(x)

In [13]:
t = text("SELECT * FROM " + mydb + ";")
t = text("SELECT * FROM " + mydb + " WHERE marketname = 'BTC-TRX';")
res = engine.execute(t)

In [14]:
for _row in res: print (_row)

('BTC-TRX', 9.98e-06, 9.35e-06, 65419960.71024878, 9.5e-06, 630.92569777, '2018-05-28 00:41:13.297000', 9.48e-06, 9.5e-06, 2253, 7532, 9.76e-06, '2018-03-01 23:17:06.487000')

In [15]:
df = pd.DataFrame(engine.execute(t).fetchall())
df.columns = res.keys()

In [16]:
df

,marketname,high,low,volume,_last,basevolume,_timestamp,bid,ask,openbuyorders,opensellorders,prevday,created
0,BTC-TRX,0.00001,0.000009,6.541996e+07,0.00001,630.925698,2018-05-28 00:41:13.297000,0.000009,0.00001,2253,7532,0.00001,2018-03-01 23:17:06.487000